* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: black;
  color: white;
  height: 100vh;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 40px;
}

.emoji {
  font-size: 120px;
  cursor: pointer;
  transition: transform 0.25s ease;
}

.emoji.animate {
  transform: scale(1.3);
}
